<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../css/login_style.css" type="text/css">
</head>
<body>
    <div class="box">
        <h2>Login</h2>
        <form id="register_form" method="POST" action="/register" enctype="multipart/form-data" autocomplete="off">
            <div class="inputBox">
                <input type="text" name="username" id="username" required oninvalid="setCustomValidity('Please input your username');" oninput="setCustomValidity('');">
                <label for="">Username</label>
            </div>
            <div class="inputBox">
                <input type="password" name="password" id="password" required oninvalid="setCustomValidity('Please input your password');" oninput="setCustomValidity('');">
                <label for="">Password</label>
            </div>
            <!-- <div class="inputBox">
                <input type="password" name="repassword" id="repassword" required oninvalid="setCustomValidity('Please input your password');" oninput="setCustomValidity('');">
                <label for="">RePassword</label>
            </div> -->
            <div class="inputBox">
                <input type="text" name="nickname" id="nickname" required oninvalid="setCustomValidity('Please input your nickname');" oninput="setCustomValidity('');">
                <label for="">Nickname</label>
            </div>
            <div class="submitBox"><input type="submit" name="" value="Register"></div>
            <div class="registerBox"><a href="/"><input type="button" name="" value="Get back"></a></div>
        </form>
    </div>
    <script src="/node_modules/jquery/dist/jquery.js"></script>
    <script>
        $('#register_form').on('submit', function (e) {
          //它的作用是：事件处理过程中，不阻击事件冒泡，但阻击默认行为
          e.preventDefault()
          var formData = $(this).serialize()
          //console.log(formData)
          $.ajax({
            url: '/register',
            type: 'post',
            data: formData,
            dataType: 'json',
            success: function (data) {
              console.log(data)
              var err_code = data.err_code
              if (err_code === 0) {
                // window.alert('注册成功！')
                // 服务端重定向针对异步请求无效
                window.location.href = '/'
              } else if (err_code === 1) {
                window.alert('用户名以存在！')
              } else if (err_code === 2) {
                window.alert('昵称已存在！')
              } else if (err_code === 500) {
                window.alert('服务器忙，请稍后重试！')
              }
            }
          })
        })
      </script>
</body>
</html>